<%= render 'shared/header' %>
<h1><%= @article.title %></h1>
<p id="date"><%= @article.created_at.strftime("%e %B, %Y") %></p>
	
	
<!-- 	<h3 id="tags">Tags: <% @article.tags.each do |tag| %><%= link_to tag.name, tag_path(tag)%></h3>
	<% end %> -->
</p>

<p>
	<% if @article.image.exists? %>
		<%= image_tag @article.image.url %><br />
	<% end %>
</p>

<p><%= raw @article.body %></p>
<!-- <%= link_to "<< Back to Articles List", articles_path, class: "admin" %> -->

<% if logged_in?%>

<%= link_to "delete", article_path(@article), method: :delete, data: {confirm: "Do you really want to delete this article?"}, class: "admin" %><br/>
<%= link_to "edit", edit_article_path(@article), class: "admin" %>

<% end %>

<!-- <h3>Comments (<%= @article.comments.size %>)</h3>
<%= render partial: 'comments/form' %>
<%= render partial: 'articles/comment', collection: @article.comments %> -->