<nav>
    <%= render 'shared/header' %>
    <div id="wrapper">
      <!-- <div class='label'>
        <%= link_to 'projects', root_path %>
      </div> -->
      <div class="label">
        <%= link_to "blog", articles_path %>
      </div>
      <div class="label">
        <%= link_to "about", static_pages_about_path %>
      </div>
      <div class="label">
        <%= link_to "links", static_pages_reading_list_path %>
      </div>
    </div>
</nav>
